@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.title {
color: #100379;
    text-align: center;
    font-size: 50px;
    font-family: 'Lora', serif !important; /* Добавь именно так с !important */
}

.center-book {
  width: 500px;
  margin: 0 auto;
}

.welcome {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.6; /* чтобы строчки не слипались */
    color: #444;
}

.bezsmertnik {
  margin: 0 auto;

}

.ideal {
  width: 700px;
  margin: 0 auto;

}

.menu {
  display: flex;
  gap: 30px;
  font-family: "Bad Script", cursive;
  font-weight: 1000;
  margin: 0 auto;
  width: 900px;
  text-align: center;
  width: 1000px;

}

.menu-link {
  text-decoration: none;
  background-color: rgb(213, 174, 250);
  padding: 10px;
  border-radius: 10px;
}

.menu-link:hover {
  background-color: rgb(255, 164, 229);
}

.menu-item {
  text-transform: uppercase;
  font-size: 15px;
  box-shadow: 10px 10px 8px 2px rgba(97, 6, 122, 0.3);

}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.book-card {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(244, 209, 249);

}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.footer-text {
  text-align: center;
  font-family: "WDXL Lubrifont TC", sans-serif;
}

.video {
  margin: 0 auto;
  width: 800px;
  display: block;
}

.maps {
  margin: 20px auto;
  width: 800px;
  display: block;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);

}

.book-img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);

}

.footer {
  background-color: rgb(213, 240, 252);
}

.book-link {
  background-color: #fe00f6;
  padding: 5px;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(152, 246, 229);
}

.book-link:hover {
  background-color: rgb(150, 168, 255);
}

.book-name {
  font-family: "Bad Script", cursive;
  text-align: center;
}

.biography {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

.img-link {
  background-color: #bdfbf5;
  padding: 5px;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(213, 0, 241);
}

.img-link:hover {
  background-color: rgb(150, 168, 255);
}

.button-form {
  padding: 10px 15px;
  background-color: rgb(223, 234, 251);
  border: none;
  border-radius: 20px;


}

.button-form:hover {
  background-color: rgb(223, 251, 243);
  cursor: pointer;
}

.form-title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}

.form-summary {
  font-family: "Cormorant Garamond", serif;
}

.label-text {
  font-family: "Sansation", sans-serif;
}

.body {
  background-color: #fff;
}

.music_item {
  border: 1px solid blue;
  width: 1200px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(245, 141, 189, 0.311);
  margin-bottom: 20px;
}

.music_audio {
  width: 1200px;
}

.music_title {
  text-align: center;
}

.container_form {
  text-align: center;
}

.menu_title {
  text-align: center;
}

.form_site {
  margin: 0 auto;
  width: 700px;
}

.contact-link {
  color: #000;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.social-link {
  color: #000;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}

.not-dot {
  list-style: none;
}

table caption {
  text-align: left;
}

/* We "collapse" the frames of adjacent cells */
table {
  border-collapse: collapse;
}

/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #f9f9fd;
}

.pane {
  display: none;
  margin-top: 8px;
}

.pane.is-active {
  display: flex;
  gap: 20px;
}

.controls {
  display: flex;
  gap: 8px;
}

.book1 {
  border: #bd5fd7;
  border-style: double;
  border-width: 7px;
}

.book2 {
  border: #3d4794;
  border-style: double;
  border-width: 7px;
}

.book3 {
  border: #3d9483;
  border-style: double;
  border-width: 7px;
}

.book4 {
  border: #396fa1;
  border-style: double;
  border-width: 7px;
}

.book_btn {
  padding: 5px 10px;
  border-radius: 60px;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.book_btn1 {
  background-color: #edb8fc;
}

.book_btn2 {
  background-color: #aab1e5;
}

.book_btn3 {
  background-color: #9aeeb9;
}

.book_btn4 {
  background-color: #70aee8
}

.container-table {
  width: 350px;
  margin: 0 auto;
  border: none;
}

.title {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-galeri {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.thumb>.label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;

  font-family: sans-serif;
  font-size: 24px;
  background-color: #2196f3;
  color: #fff;
}

.galeri-img {
  width: 300px;
}

.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("./img/manhva/5356355.png");
  background-size: contain;

  cursor: pointer;
}

.container-music {
  height: 150px;
  position: relative;
}

.box {
  position: absolute;
  height: 150px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 64px;
  color: #fff;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box:nth-child(1) {
  top: -350px;
  left: 100px;
  background-image: url("./img/manhva/images.jfif");
  background-size: contain;
  z-index: 2;
  transform: rotate(5deg);
}

.box:nth-child(2) {
  top: -320px;
  left: 250px;
  background-image: url("./img/Felix.jfif");
  background-size: 120px;
  z-index: 2;
  background-repeat: no-repeat;
  width: 120px;
  transform: rotate(5deg);
}

.box:nth-child(3) {
  top: -200px;
  left: 250px;
  background-image: url("./img/Егор\ Крид.jfif");
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
  transform: rotate(5deg);
}

.box:nth-child(4) {
  top: -198px;
  left: 100px;
  background-image: url("./img/Валя\ Карнавал.jfif");
  background-size: contain;
  transform: rotate(5deg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Додаємо плавний перехід */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* Критично для приховування кліків */
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: rgb(135, 235, 225);
  transform: translate(-50%, -50%);
  border-radius: 5px;

}
.btn-open-box{
  text-align: center;
  
}
.btn-open{
  padding: 10px 20px;
margin-top: 20px;
background-color: #b1a1f1;
border-radius: 10px;
border: none;
font-size: large;
}
.btn-open:hover{
  background-color:  #7484ff;
 cursor: pointer;;
}
.button-odr{
  padding: 10px 20px;
margin-top: 20px;
border-radius: 10px;
background-color: #febee8;
border: none;
}
.divbutton-odr{
  width: 100px;
  margin: 0 auto;
  border: none;
}



.tracking-in-contract {
	animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.scale-up-center:hover {
	animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.shake-horizontal {
	animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-12-27 11:47:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@media (max-width: 450px) {
  body {
    background-color: #4caf50;
  }
  .title{
    font-size: 28px;
    margin-left: -78px;
  }
  .mobile-home{
    width: 300px
  }
  .welcome {
    width: 284px;
    margin: 0 auto;
    text-align: center;
  margin-left: 3px; 

  }
  .menu_title {
    text-align: center;
    margin-left: -892px;
}
} 


